---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center">Esta pagina no existe....</h1>
        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/01/meme-perro-fine-2928042.jpg?tf=1200x675" />
    </div>
</Layout>