---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

//Nuestro codigo de JavaScript
---

<Layout title="SpaceX Launches">
	<main>
		<h1 class="text-6xl text-white font-bold">Space X Launches 🚀</h1>
	</main>
</Layout>

